# Local
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=dbname
FILE_PORT=8081
JWT_SECRET=user-is-cool-guy

# Production
APP_MODE=production
DATABASE_URL=db_url_from_neon_db